@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-brand-cream text-brand-graphite font-body antialiased;
    font-feature-settings: "ss01", "cv11";
  }

  ::selection {
    background-color: #c8102e;
    color: #ffffff;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
